<?xml version="1.0" ?>
<robot name="sobit_home" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Add Common Xacro: transmissions, colors -->
  <xacro:include filename="$(find sobit_home_description)/urdf/values.urdf.xacro" />
  <xacro:include filename="$(find sobit_home_description)/urdf/materials.urdf.xacro" />
  <xacro:include filename="$(find sobit_home_description)/urdf/transmission.urdf.xacro" />
  <xacro:include filename="$(find sobit_home_description)/urdf/controllers.urdf.xacro" />
  
  <!-- Add URDF: links, joints -->
  <xacro:include filename="$(find sobit_home_description)/urdf/base/base.urdf.xacro" />
  <xacro:include filename="$(find sobit_home_description)/urdf/body/plate.urdf.xacro" />
  <xacro:include filename="$(find sobit_home_description)/urdf/body/body.urdf.xacro" />
  <xacro:include filename="$(find sobit_home_description)/urdf/wheel/wheel.urdf.xacro" />
  <xacro:include filename="$(find sobit_home_description)/urdf/arm/arm.urdf.xacro" />
  <xacro:include filename="$(find sobit_home_description)/urdf/hand/hand.urdf.xacro" />
  <xacro:include filename="$(find sobit_home_description)/urdf/head/head.urdf.xacro" />

  <xacro:include filename="$(find sobit_home_description)/urdf/sensor/camera_head.urdf.xacro" />
  <xacro:include filename="$(find sobit_home_description)/urdf/sensor/mic.urdf.xacro" />
  <xacro:include filename="$(find sobit_home_description)/urdf/sensor/lidar.urdf.xacro" />
  <xacro:include filename="$(find sobit_home_description)/urdf/sensor/camera_hand.urdf.xacro" />
  <!-- <xacro:include filename="$(find sobit_home_description)/urdf/sensor/realsense_d405.urdf.xacro" /> -->

  <xacro:include filename="$(find urg_node)/urdf/hokuyo_ust.urdf.xacro" />
  <!-- <xacro:include filename="$(find realsense2_description)/urdf/_d405.urdf.xacro" /> -->
  
  <!-- Add Gazebo Xacro-->
  <xacro:include filename="$(find sobit_home_description)/urdf/gazebo.urdf.xacro" />


  <!-- Add variables -->
  <xacro:arg name="robot_name" default="sobit_home" />

  <xacro:arg name="enable_gz"                       default="True" />
  <xacro:arg name="enable_head_cam_color"        default="True" />
  <xacro:arg name="enable_head_cam_depth"        default="True" />
  <xacro:arg name="enable_hand_left_cam_color"   default="True" />
  <xacro:arg name="enable_hand_right_cam_color"  default="True" />

  <!-- Activate Components -->
  <xacro:arg name="enable_mobile_base"  default="True" />
  <xacro:arg name="enable_rm_motors"    default="True" />
  <xacro:arg name="enable_body"         default="True" />
  <xacro:arg name="enable_arm_left"     default="True" />
  <xacro:arg name="enable_arm_right"    default="True" />
  <xacro:arg name="enable_hand_left"    default="True" />
  <xacro:arg name="enable_hand_right"   default="True" />
  <xacro:arg name="enable_head"         default="True" />
  <xacro:arg name="enable_dxl_pro"      default="True" />

  <!-- DXL Ports -->
  <xacro:arg name="dxl_x_lower_body_port"  default="/dev/ttyUSB1" />
  <xacro:arg name="dxl_x_upper_body_port"  default="/dev/ttyUSB3" />
  <xacro:arg name="dxl_p_upper_body_port"  default="/dev/ttyUSB2" />
  <xacro:arg name="dxl_x_hand_port"        default="/dev/ttyUSB4" />
  
  <!-- Uirobot Body Lift Gateway Port -->
  <xacro:arg name="um_body_port" default="/dev/ttyUSB0" />
  <xacro:arg name="um_body_id" default="5" />

  <xacro:if value="${ $(arg enable_mobile_base) }">
    <xacro:base/>
    <joint name="lidar_merged_joint" type="fixed">
      <origin xyz="0.0 0.0 0.185" rpy="0.0 0.0 0.0" />
      <parent link="base_footprint" />
      <child link="lidar_merged_laser" />
    </joint>
    <link name="lidar_merged_laser" />
    <xacro:plate prefix="plate" parent="base_link" />
    <xacro:wheel prefix="wheel" parent="plate_middle_link" />
    <xacro:lidar prefix="lidar" parent="plate_middle_link" robot_name="$(arg robot_name)" />
  </xacro:if>
  <xacro:unless value="${ $(arg enable_mobile_base) }">
    <xacro:base/>
    <joint name="lidar_merged_joint" type="fixed">
      <origin xyz="0.0 0.0 0.185" rpy="0.0 0.0 0.0" />
      <parent link="base_footprint" />
      <child link="lidar_merged_laser" />
    </joint>
    <link name="lidar_merged_laser" />
    <joint name="plate_top_joint" type="fixed" >
      <origin xyz="0.0 0.0 0.371058" rpy="0.0 0.0 0.0" />
      <parent link="base_link" />
      <child link="plate_top_link" />
    </joint>
    <link name="plate_top_link" />
  </xacro:unless>

  <xacro:if value="${ $(arg enable_body) }">
    <xacro:body  prefix="body"  parent="plate_top_link" />
  </xacro:if>
  <xacro:unless value="${ $(arg enable_body) }">
    <joint name="body_joint" type="fixed" >
      <origin xyz="-0.1702 0.0 0.3169" rpy="0.0 0.0 0.0" />
      <parent link="plate_top_link" />
      <child link="body_lift_link" />
    </joint>
    <link name="body_lift_link" />
  </xacro:unless>

  <xacro:if value="${ $(arg enable_arm_left) }">
    <xacro:arm   prefix="arm"   position="left"  parent="body_lift_link" />
    <xacro:camera_hand prefix="hand_left" parent="arm_left_wrist_roll_link">
      <origin xyz="0.03475112 0.0305 -0.017" rpy="0.0 0.970255199812 0.0"/>
    </xacro:camera_hand>
  </xacro:if>
  <xacro:unless value="${ $(arg enable_arm_left) }">
    <joint name="arm_left_wrist_roll_joint" type="fixed" >
      <origin xyz="0.0 1.17790032 0.0" rpy="0.0 0.0 0.0" />
      <parent link="body_lift_link" />
      <child link="arm_left_wrist_roll_link" />
    </joint>
    <link name="arm_left_wrist_roll_link" />
  </xacro:unless>

  <xacro:if value="${ $(arg enable_arm_right) }">
    <xacro:arm   prefix="arm"   position="right" parent="body_lift_link" />
    <xacro:camera_hand prefix="hand_right" parent="arm_right_wrist_roll_link">
      <origin xyz="-0.00174888 -0.0305 -0.042" rpy="${M_PI} 0.970255199812 0.0"/>
    </xacro:camera_hand>
  </xacro:if>
  <xacro:unless value="${ $(arg enable_arm_right) }">
    <joint name="arm_right_wrist_roll_joint" type="fixed" >
      <origin xyz="0.0 -1.17790032 0.0" rpy="0.0 0.0 0.0" />
      <parent link="body_lift_link" />
      <child link="arm_right_wrist_roll_link" />
    </joint>
    <link name="arm_right_wrist_roll_link" />
  </xacro:unless>

  <xacro:if value="${ $(arg enable_hand_left) }">
    <xacro:hand  prefix_hand="hand" position="left" prefix_finger="finger" parent="arm_left_wrist_roll_link" />
  </xacro:if>

  <xacro:if value="${ $(arg enable_hand_right) }">
    <xacro:hand  prefix_hand="hand" position="right" prefix_finger="finger" parent="arm_right_wrist_roll_link" />
  </xacro:if>

  <xacro:if value="${ $(arg enable_head) }">
    <xacro:head  prefix="head"  parent="body_lift_link" /> 
    <xacro:mic   prefix="mic"   parent="head_tilt_link" /> 
    <xacro:camera_head  prefix="head"  parent="head_tilt_link" />
  </xacro:if>


  <!-- Add Actuators Controllers -->
  <xacro:controllers enable_gz="$(arg enable_gz)" robot_name="$(arg robot_name)" />

  <!-- Add Gazebo plugins -->
  <xacro:if value="${$(arg enable_gz)}">
    <xacro:gazebo_sensors robot_name="$(arg robot_name)"
      enable_head_cam_color="$(arg enable_head_cam_color)"
      enable_head_cam_depth="$(arg enable_head_cam_depth)"
      enable_hand_left_cam_color="$(arg enable_hand_left_cam_color)"
      enable_hand_right_cam_color="$(arg enable_hand_right_cam_color)"
    />
  </xacro:if>

</robot>
