<?xml version="1.0" encoding="UTF-8" ?>
<robot name="sobit_home"
       xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="hand_transmission" params="prefix_hand position prefix_finger">

    <xacro:SimpleTransmissionPosition joint="${prefix_hand}_${position}_mcp_joint"                     reduction="1" />
    <xacro:SimpleTransmissionPosition joint="${prefix_hand}_${position}_${prefix_finger}_l_cmc_joint"  reduction="1" />
    <xacro:SimpleTransmissionPosition joint="${prefix_hand}_${position}_${prefix_finger}_l_mcp_joint"  reduction="1" />
    <xacro:SimpleTransmissionPosition joint="${prefix_hand}_${position}_${prefix_finger}_c_cmc_joint"  reduction="1" />
    <xacro:SimpleTransmissionPosition joint="${prefix_hand}_${position}_${prefix_finger}_c_mcp_joint"  reduction="1" />
    <xacro:SimpleTransmissionPosition joint="${prefix_hand}_${position}_${prefix_finger}_r_cmc_joint"  reduction="1" />
    <xacro:SimpleTransmissionPosition joint="${prefix_hand}_${position}_${prefix_finger}_r_mcp_joint"  reduction="1" />

  </xacro:macro>
</robot>
