<?xml version="1.0" encoding="UTF-8" ?>
<robot name="sobit_home"
       xmlns:xacro="http://ros.org/wiki/xacro" >
  <xacro:include filename="$(find sobit_home_description)/urdf/hand/hand.transmission.xacro" />
  
  <xacro:macro name="hand" params="prefix_hand position prefix_finger parent" >
    <xacro:if value="${position == 'left'}">
      <xacro:property name="y_sign" value="1.0" />
        <xacro:property name="upper_roll_limit_lower" value="0" />
        <xacro:property name="upper_roll_limit_upper" value="${M_PI}" />
    </xacro:if>
    <xacro:if value="${position == 'right'}">
      <xacro:property name="y_sign" value="-1.0" />
        <xacro:property name="upper_roll_limit_lower" value="${-M_PI}" />
        <xacro:property name="upper_roll_limit_upper" value="0" />
    </xacro:if>

<!-- hand_base -->
    <joint name="${prefix_hand}_${position}_cmc_joint" type="fixed" >
      <parent link="${parent}" />
      <child link="${prefix_hand}_${position}_cmc_link" />
      <!-- <origin xyz="0.0 ${y_sign * 0.025375} 0.0" rpy="0.0 0.0 0.0" /> -->
      <origin xyz="0.0 ${y_sign * 0.025375} 0.0" rpy="0.0 ${M_PI/2} 0.0" />
    </joint>

    <link name="${prefix_hand}_${position}_cmc_link" >
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="${-y_sign * M_PI/2} ${y_sign * M_PI/2} 0.0" />
        <geometry>
          <mesh filename="file://$(find sobit_home_description)/meshes/hand/hand_base.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <material name="black" />
      </visual>
      <inertial>
        <origin xyz="0.00852612 ${y_sign * 0.008875} 0.0" rpy="${-y_sign * M_PI/2} ${y_sign * M_PI/2} 0.0" />
        <!-- <mass value="0.1814929213426" /> -->
        <mass value="0.181" />
        <inertia ixx="${1/12*0.181*(0.0645**2+0.0826**2)}" ixy="0.0" ixz="0.0"
                 iyy="${1/12*0.181*(0.108**2+0.0645**2)}" iyz="0.0"
                 izz="${1/12*0.181*(0.108**2+0.0826**2)}" />
      </inertial>
    </link>

<!-- l_finger -->
    <joint name="${prefix_hand}_${position}_${prefix_finger}_l_mcp_joint" type="revolute" >
      <parent link="${prefix_hand}_${position}_cmc_link" />
      <child link="${prefix_hand}_${position}_${prefix_finger}_l_mcp_link" />
      <origin xyz="-0.002855 ${y_sign * 0.018025} ${y_sign * 0.024532}" rpy="0.0 0.0 0.0" />
      <axis xyz="0.0 1.0 0.0 " />
      <limit lower="${-M_PI/2}" upper="${M_PI/2}" effort="0.52" velocity="11.031179004" />
    </joint>

    <link name="${prefix_hand}_${position}_${prefix_finger}_l_mcp_link" >
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="${-y_sign * M_PI/2} ${y_sign * (2*M_PI/15 + M_PI/2)} 0.0" />
        <geometry>
          <mesh filename="file://$(find sobit_home_description)/meshes/hand/switching_gear.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <material name="black" />
      </visual>
      <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="${-y_sign * M_PI/2} ${y_sign * (2*M_PI/15 + M_PI/2)} 0.0" />
        <!-- <mass value="0.022421331012" /> -->
        <mass value="0.0224" />
        <inertia ixx="${1/12*0.0224*(0.0645**2+0.0826**2)}" ixy="0.0" ixz="0.0"
                 iyy="${1/12*0.0224*(0.108**2 +0.0645**2)}" iyz="0.0"
                 izz="${1/12*0.0224*(0.108**2+0.0826**2)}" />
      </inertial>
    </link>      

    <joint name="${prefix_hand}_${position}_${prefix_finger}_l_pip_joint" type="revolute" >
      <parent link="${prefix_hand}_${position}_${prefix_finger}_l_mcp_link" />
      <child link="${prefix_hand}_${position}_${prefix_finger}_l_pip_link" />
      <origin xyz="-0.02125 ${y_sign * 0.019006} ${y_sign * 0.040125}" rpy="0.0 0.0 0.0" />
      <axis xyz="1.0 0.0 0.0 " />
      <limit lower="${-M_PI/6}" upper="${M_PI/2}" effort="0.52" velocity="11.031179004" />
    </joint>

    <link name="${prefix_hand}_${position}_${prefix_finger}_l_pip_link" >
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="${-y_sign * M_PI/2} ${y_sign * M_PI/2} 0.0" />
        <geometry>
          <mesh filename="file://$(find sobit_home_description)/meshes/hand/middle_pharanx.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <material name="black" />
      </visual>
      <collision>
        <origin xyz="0.01445 ${y_sign * 0.030375} 0.0" rpy="${-y_sign * M_PI/2} ${y_sign * M_PI/2} 0.0" />
        <geometry>
          <box size="0.022 0.031 0.030" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="${-y_sign * M_PI/2} ${y_sign * M_PI/2} 0.0" />
        <!-- <mass value="0.036103135757000006" /> -->
        <mass value="0.0361" />
        <inertia ixx="${1/12*0.0361*(0.031**2+0.030**2)}" ixy="0.0" ixz="0.0"
                 iyy="${1/12*0.0361*(0.022**2+0.031**2)}" iyz="0.0"
                 izz="${1/12*0.0361*(0.022**2+0.031**2)}" />
      </inertial>
    </link>


    <joint name="${prefix_hand}_${position}_${prefix_finger}_l_dip_joint" type="revolute" >
      <parent link="${prefix_hand}_${position}_${prefix_finger}_l_pip_link" />
      <child link="${prefix_hand}_${position}_${prefix_finger}_l_dip_link" />
      <origin xyz="0.0 ${y_sign * 0.050} 0.0" rpy="0.0 0.0 0.0" />
      <axis xyz="1.0 0.0 0.0 " />
      <limit lower="${-M_PI/2}" upper="${M_PI/6}" effort="0.52" velocity="11.031179004" />
    </joint>

    <link name="${prefix_hand}_${position}_${prefix_finger}_l_dip_link" >
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="${-y_sign * M_PI/2} ${y_sign * M_PI/2} 0.0" />
        <geometry>
          <mesh filename="file://$(find sobit_home_description)/meshes/hand/distal_pharanx.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <material name="black" />
      </visual>
      <collision>
        <origin xyz="0.01445 ${y_sign * 0.032375} ${-y_sign * 0.001}" rpy="${-y_sign * M_PI/2} ${y_sign * M_PI/2} 0.0" />
        <geometry>
          <box size="0.022 0.031 0.035" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="${-y_sign * M_PI/2} ${y_sign * M_PI/2} 0.0" />
        <!-- <mass value="0.0371972081495" /> -->
        <mass value="0.0372" />
        <inertia ixx="${1/12*0.0372*(0.035**2+0.031**2)}" ixy="0.0" ixz="0.0"
                 iyy="${1/12*0.0372*(0.022**2+0.035**2)}" iyz="0.0"
                 izz="${1/12*0.0372*(0.022**2+0.031**2)}" />
      </inertial>
    </link>

<!-- r_finger -->
<!-- mimic part -->
    <joint name="${prefix_hand}_${position}_${prefix_finger}_r_mcp_joint" type="revolute" >
      <parent link="${prefix_hand}_${position}_cmc_link" />
      <child link="${prefix_hand}_${position}_${prefix_finger}_r_mcp_link" />
      <origin xyz="-0.002855 ${y_sign * 0.020025} ${-y_sign * 0.024532}" rpy="0.0 0.0 0.0" />
      <axis xyz="0.0 -1.0 0.0 " />
      <limit lower="${-M_PI/2}" upper="${M_PI/2}" effort="0.52" velocity="11.031179004" />
      <mimic joint="${prefix_hand}_${position}_${prefix_finger}_l_mcp_joint" multiplier="1.0" />
    </joint>

    <link name="${prefix_hand}_${position}_${prefix_finger}_r_mcp_link" >
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="${-y_sign * M_PI/2} ${y_sign * M_PI/2} 0.0" />
        <geometry>
          <mesh filename="file://$(find sobit_home_description)/meshes/hand/switching_gear_m.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <material name="black" />
      </visual>
      <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="${-y_sign * M_PI/2} ${y_sign * (2*M_PI/15 + M_PI/2)} 0.0" />
        <!-- <mass value="0.0216864236256" /> -->
        <mass value="0.0217" />
        <inertia ixx="${1/12*0.0217*(0.0645**2+0.0826**2)}" ixy="0.0" ixz="0.0"
                 iyy="${1/12*0.0217*(0.108**2 +0.0645**2)}" iyz="0.0"
                 izz="${1/12*0.0217*(0.108**2+0.0826**2)}" />
      </inertial>
    </link>

    <joint name="${prefix_hand}_${position}_${prefix_finger}_r_pip_joint" type="revolute" >
      <parent link="${prefix_hand}_${position}_${prefix_finger}_r_mcp_link" />
      <child link="${prefix_hand}_${position}_${prefix_finger}_r_pip_link" />
      <origin xyz="-0.02125 ${y_sign * 0.016750} ${-y_sign * 0.040125}" rpy="0.0 0.0 0.0" />
      <axis xyz="1.0 0.0 0.0 " />
      <limit lower="${-M_PI/2}" upper="${M_PI/6}" effort="0.52" velocity="11.031179004" />
    </joint>

    <link name="${prefix_hand}_${position}_${prefix_finger}_r_pip_link" >
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="${-y_sign * M_PI/2} ${-y_sign * M_PI/2} 0.0" />
        <geometry>
          <mesh filename="file://$(find sobit_home_description)/meshes/hand/middle_pharanx_m.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <material name="black" />
      </visual>
      <collision>
        <origin xyz="0.01445 ${y_sign * 0.030375} 0.0" rpy="${-y_sign * M_PI/2} ${y_sign * M_PI/2} 0.0" />
        <geometry>
          <box size="0.022 0.031 0.030" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="${-y_sign * M_PI/2} ${-y_sign * M_PI/2} 0.0" />
        <!-- <mass value="0.0361032786215" /> -->
        <mass value="0.0361" />
        <inertia ixx="${1/12*0.0361*(0.0031**2+0.030**2)}" ixy="0.0" ixz="0.0"
                 iyy="${1/12*0.0361*(0.01445**2+0.0031**2)}" iyz="0.0"
                 izz="${1/12*0.0361*(0.01445**2+0.030**2)}" />
      </inertial>
    </link>

    <joint name="${prefix_hand}_${position}_${prefix_finger}_r_dip_joint" type="revolute" >
      <parent link="${prefix_hand}_${position}_${prefix_finger}_r_pip_link" />
      <child link="${prefix_hand}_${position}_${prefix_finger}_r_dip_link" />
      <origin xyz="0.0 ${y_sign * 0.050} 0.0" rpy="0.0 0.0 0.0" />
      <axis xyz="1.0 0.0 0.0 " />
      <limit lower="${-M_PI/6}" upper="${M_PI/2}" effort="0.52" velocity="11.031179004" />
    </joint>

    <link name="${prefix_hand}_${position}_${prefix_finger}_r_dip_link" >
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="${-y_sign * M_PI/2} ${-y_sign * M_PI/2} 0.0" />
        <geometry>
          <mesh filename="file://$(find sobit_home_description)/meshes/hand/distal_pharanx_m.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <material name="black" />
      </visual>
      <collision>
        <origin xyz="0.01445 ${y_sign * 0.032375} ${y_sign * 0.001}" rpy="${-y_sign * M_PI/2} ${y_sign * M_PI/2} 0.0" />
        <geometry>
          <box size="0.022 0.031 0.035" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="${-y_sign * M_PI/2} ${-y_sign * M_PI/2} 0.0" />
        <!-- <mass value="0.0371997477059" /> -->
        <mass value="0.0372" />
        <inertia ixx="${1/12*0.0372*(0.035**2+0.031**2)}" ixy="0.0" ixz="0.0"
                 iyy="${1/12*0.0372*(0.022**2+0.035**2)}" iyz="0.0"
                 izz="${1/12*0.0372*(0.022**2+0.031**2)}" />
      </inertial>
    </link>
  
<!-- c_finger-->
    <joint name="${prefix_hand}_${position}_${prefix_finger}_c_mcp_joint" type="revolute" >
      <parent link="${prefix_hand}_${position}_cmc_link" />
      <child link="${prefix_hand}_${position}_${prefix_finger}_c_mcp_link" />
      <origin xyz="0.036751 ${y_sign * 0.036625} ${y_sign * 0.014550} " rpy="0.0 0.0 0.0" />
      <axis xyz="0.0 0.0 1.0 " />
      <!-- <limit lower="${-M_PI/2}" upper="${M_PI/6}" effort="0.52" velocity="11.031179004" /> -->
      <xacro:if value="${position == 'left'}">
        <limit lower="${-M_PI/2}" upper="${M_PI/6}" effort="0.52" velocity="11.031" />
      </xacro:if>
      <xacro:if value="${position == 'right'}">
        <limit lower="${-M_PI/6}" upper="${M_PI/2}" effort="0.52" velocity="11.031" />
      </xacro:if>
    </joint>

    <link name="${prefix_hand}_${position}_${prefix_finger}_c_mcp_link" >
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="${-y_sign * M_PI/2} 0.0 0.0" />
        <geometry>
          <mesh filename="file://$(find sobit_home_description)/meshes/hand/thumb_middle_pharanx.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <material name="black" />
      </visual>
      <collision>
        <origin xyz="-0.001 ${y_sign * 0.032375} ${-y_sign * 0.01445}" rpy="0.0 0.0 0.0" />
        <geometry>
          <box size="0.022 0.031 0.034" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="${-y_sign * M_PI/2} 0.0 0.0" />
        <!-- <mass value="0.0377428526807" /> -->
        <mass value="0.0377" />
        <inertia ixx="${1/12*0.0377*(0.034**2+0.031**2)}" ixy="0.0" ixz="0.0"
                 iyy="${1/12*0.0377*(0.022**2+0.034**2)}" iyz="0.0"
                 izz="${1/12*0.0377*(0.022**2+0.031**2)}" />
      </inertial>
    </link>

    <joint name="${prefix_hand}_${position}_${prefix_finger}_c_ip_joint" type="revolute" >
      <parent link="${prefix_hand}_${position}_${prefix_finger}_c_mcp_link" />
      <child link="${prefix_hand}_${position}_${prefix_finger}_c_ip_link" />
      <origin xyz="0.0 ${y_sign * 0.050} 0.0" rpy="0.0 0.0 0.0" />
      <axis xyz="0.0 0.0 1.0 " />
      <xacro:if value="${position == 'right'}">
        <limit lower="${-M_PI/2}" upper="${M_PI/6}" effort="0.52" velocity="11.031" />
      </xacro:if>
      <xacro:if value="${position == 'left'}">
        <limit lower="${-M_PI/6}" upper="${M_PI/2}" effort="0.52" velocity="11.031" />
      </xacro:if>
    </joint>

    <link name="${prefix_hand}_${position}_${prefix_finger}_c_ip_link" >
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="${-y_sign * M_PI/2} 0.0 0.0" />
        <geometry>
          <mesh filename="file://$(find sobit_home_description)/meshes/hand/thumb_distal_pharanx.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <material name="black" />
      </visual>
      <collision>
        <origin xyz="-0.001 ${y_sign * 0.034375} ${-y_sign * 0.01445}" rrpy="${-y_sign * M_PI/2} ${y_sign * M_PI/2} 0.0" />
        <geometry>
          <box size="0.022 0.031 0.0334" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="${-y_sign * M_PI/2} 0.0 0.0" />
        <!-- <mass value="0.017059696584599996" /> -->
        <mass value="0.0171" />
        <inertia ixx="${1/12*0.0171*(0.0334**2+0.031**2)}" ixy="0.0" ixz="0.0"
                 iyy="${1/12*0.0171*(0.022**2+0.0334**2)}" iyz="0.0"
                 izz="${1/12*0.0171*(0.022**2+0.031**2)}" />
      </inertial>
    </link>

    <!-- Joint: End Effector -->
    <joint name="${prefix_hand}_${position}_end_effector_joint" type="fixed">
      <origin xyz="0.0 ${y_sign*0.13} 0.0" rpy="${y_sign * M_PI/2} 0.0 ${y_sign * M_PI/2}"/>
      <parent link="${parent}"/>
      <child link="${prefix_hand}_${position}_end_effector_link"/>
    </joint>

    <!-- Link: End Effector -->
    <link name="${prefix_hand}_${position}_end_effector_link">
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
        <geometry>
          <box size="0.01 0.01 0.01" />
        </geometry>
        <material name="red"/>
      </visual>

      <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
        <mass value="0.0001" />
        <inertia  ixx="${1/12*0.0001*(0.01**2+0.01**2)}" ixy="0.0" ixz="0.0"
                  iyy="${1/12*0.0001*(0.01**2+0.01**2)}" iyz="0.0"
                  izz="${1/12*0.0001*(0.01**2+0.01**2)}" />
      </inertial>
    </link>

  <xacro:hand_transmission prefix_hand="${prefix_hand}" position="${position}" prefix_finger="${prefix_finger}"/>

  </xacro:macro>
</robot>


<!-- 

<<tsukada no memo>> =============================================================================

この順序はパーツのvisualやcollisionのオリジンが回転することに依存しない...らしい？？？
ただし、.stlをインポートする際の原点に対するパーツの軸方向が影響している可能性があるような気が...

<box size = "w"  "d"  "h" >
  w: x方向の大きさ(幅)
  d: y方向の大きさ（奥行き）
  h: z方向の大きさ（高さ）

======================================================================================
-->
