<?xml version="1.0" encoding="UTF-8" ?>
<robot name="sobit_home"
       xmlns:xacro="http://ros.org/wiki/xacro" >
  <xacro:include filename="$(find sobit_home_description)/urdf/hand/hand.transmission.xacro" />
  
  <xacro:macro name="hand" params="prefix_hand position prefix_finger parent" >
    <xacro:if value="${position == 'left'}">
      <xacro:property name="y_sign" value="1.0" />
      <xacro:property name="yaw_rot" value="0.0" />
        <xacro:property name="upper_roll_limit_lower" value="0" />
        <xacro:property name="upper_roll_limit_upper" value="${M_PI}" />
    </xacro:if>
    <xacro:if value="${position == 'right'}">
      <xacro:property name="y_sign" value="-1.0" />
      <xacro:property name="yaw_rot" value="${M_PI}" />
        <xacro:property name="upper_roll_limit_lower" value="${-M_PI}" />
        <xacro:property name="upper_roll_limit_upper" value="0" />
    </xacro:if>

<!-- hand_base -->
    <joint name="${prefix_hand}_${position}_cmc_joint" type="fixed" >
      <parent link="${parent}" />
      <child link="${prefix_hand}_${position}_cmc_link" />
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    </joint>

    <link name="${prefix_hand}_${position}_cmc_link" >
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="${M_PI} 0.0 ${-M_PI/2}" />
        <geometry>
          <mesh filename="file://$(find sobit_home_description)/meshes/hand/hand_base.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <material name="grey" />
      </visual>
      <collision>
        <origin xyz="${0.140/2} 0.0 ${0.043/2}" rpy="0.0 0.0 0.0" />
        <geometry>
          <box size="0.140 0.156 0.043" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="${0.140/2} 0.0 ${0.043/2}" rpy="0.0 0.0 ${M_PI/2}" />
        <mass value="0.08" />
        <inertia ixx="${1/12*0.08*(0.140**2+0.043**2)}" ixy="0.0" ixz="0.0"
                 iyy="${1/12*0.08*(0.156**2+0.043**2)}" iyz="0.0"
                 izz="${1/12*0.08*(0.140**2+0.156**2)}" />
      </inertial>
    </link>

<!-- l_finger -->
    <joint name="${prefix_hand}_${position}_${prefix_finger}_l_mcp_joint" type="revolute" >
      <parent link="${prefix_hand}_${position}_cmc_link" />
      <child link="${prefix_hand}_${position}_${prefix_finger}_l_mcp_link" />
      <origin xyz="-0.003249 0.024532 -0.046" rpy="0.0 0.0 0.0" />
      <axis xyz="0.0 0.0 1.0 " />
      <limit lower="${-M_PI/2}" upper="${M_PI/2}" effort="0.52" velocity="11.031179004" />
    </joint>

    <link name="${prefix_hand}_${position}_${prefix_finger}_l_mcp_link" >
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="${M_PI} 0.0 ${-(2*M_PI/15+M_PI/2)}" />
        <geometry>
          <mesh filename="file://$(find sobit_home_description)/meshes/hand/switching_gear.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <material name="grey" />
      </visual>
      <collision>
        <origin xyz="${0.140/2} 0.0 ${0.043/2}" rpy="0.0 0.0 0.0" />
        <geometry>
          <box size="0.140 0.156 0.043" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="${0.140/2} 0.0 ${0.043/2}" rpy="0.0 0.0 ${M_PI/2}" />
        <mass value="0.08" />
        <inertia ixx="${1/12*0.08*(0.140**2+0.043**2)}" ixy="0.0" ixz="0.0"
                 iyy="${1/12*0.08*(0.156**2+0.043**2)}" iyz="0.0"
                 izz="${1/12*0.08*(0.140**2+0.156**2)}" />
      </inertial>
    </link>

    <joint name="${prefix_hand}_${position}_${prefix_finger}_l_pip_joint" type="revolute" >
      <parent link="${prefix_hand}_${position}_${prefix_finger}_l_mcp_link" />
      <child link="${prefix_hand}_${position}_${prefix_finger}_l_pip_link" />
      <origin xyz="-0.02125 0.040125 -0.018575" rpy="0.0 0.0 0.0" />
      <axis xyz="1.0 0.0 0.0 " />
      <limit lower="${-M_PI/6}" upper="${M_PI/2}" effort="0.52" velocity="11.031179004" />
    </joint>

    <link name="${prefix_hand}_${position}_${prefix_finger}_l_pip_link" >
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 ${M_PI} ${M_PI/2}" />
        <geometry>
          <mesh filename="file://$(find sobit_home_description)/meshes/hand/middle_pharanx.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <material name="grey" />
      </visual>
      <collision>
        <origin xyz="${0.140/2} 0.0 ${0.043/2}" rpy="0.0 0.0 0.0" />
        <geometry>
          <box size="0.140 0.156 0.043" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="${0.140/2} 0.0 ${0.043/2}" rpy="0.0 0.0 ${M_PI/2}" />
        <mass value="0.08" />
        <inertia ixx="${1/12*0.08*(0.140**2+0.043**2)}" ixy="0.0" ixz="0.0"
                 iyy="${1/12*0.08*(0.156**2+0.043**2)}" iyz="0.0"
                 izz="${1/12*0.08*(0.140**2+0.156**2)}" />
      </inertial>
    </link>


    <joint name="${prefix_hand}_${position}_${prefix_finger}_l_dip_joint" type="revolute" >
      <parent link="${prefix_hand}_${position}_${prefix_finger}_l_pip_link" />
      <child link="${prefix_hand}_${position}_${prefix_finger}_l_dip_link" />
      <origin xyz="0.0 0.0 -0.050" rpy="0.0 0.0 0.0" />
      <axis xyz="1.0 0.0 0.0 " />
      <limit lower="${-M_PI/2}" upper="${M_PI/6}" effort="0.52" velocity="11.031179004" />
    </joint>

    <link name="${prefix_hand}_${position}_${prefix_finger}_l_dip_link" >
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 ${M_PI} ${M_PI/2}" />
        <geometry>
          <mesh filename="file://$(find sobit_home_description)/meshes/hand/distal_pharanx.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <material name="blue" />
      </visual>
      <collision>
        <origin xyz="${0.140/2} 0.0 ${0.043/2}" rpy="0.0 0.0 0.0" />
        <geometry>
          <box size="0.140 0.156 0.043" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="${0.140/2} 0.0 ${0.043/2}" rpy="0.0 0.0 ${M_PI/2}" />
        <mass value="0.08" />
        <inertia ixx="${1/12*0.08*(0.140**2+0.043**2)}" ixy="0.0" ixz="0.0"
                 iyy="${1/12*0.08*(0.156**2+0.043**2)}" iyz="0.0"
                 izz="${1/12*0.08*(0.140**2+0.156**2)}" />
      </inertial>
    </link>

<!-- r_finger -->
<!-- mimic part -->
    <joint name="${prefix_hand}_${position}_${prefix_finger}_r_mcp_joint" type="revolute" >
      <parent link="${prefix_hand}_${position}_cmc_link" />
      <child link="${prefix_hand}_${position}_${prefix_finger}_r_mcp_link" />
      <origin xyz="-0.003249 -0.024532 -0.046" rpy="0.0 0.0 0.0" />
      <axis xyz="0.0 0.0 1.0 " />
      <limit lower="${-M_PI/2}" upper="${M_PI/2}" effort="0.52" velocity="11.031179004" />
      <mimic joint="${prefix_hand}_${position}_${prefix_finger}_l_mcp_joint" multiplier="-1.0" />
    </joint>

    <link name="${prefix_hand}_${position}_${prefix_finger}_r_mcp_link" >
      <visual>
        <origin xyz="0.0 0.0 -0.002006" rpy="${M_PI} 0.0 ${-M_PI/2}" />
        <geometry>
          <mesh filename="file://$(find sobit_home_description)/meshes/hand/switching_gear-m.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <material name="grey" />
      </visual>
      <collision>
        <origin xyz="${0.140/2} 0.0 ${0.043/2}" rpy="0.0 0.0 0.0" />
        <geometry>
          <box size="0.140 0.156 0.043" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="${0.140/2} 0.0 ${0.043/2}" rpy="0.0 0.0 ${M_PI/2}" />
        <mass value="0.08" />
        <inertia ixx="${1/12*0.08*(0.140**2+0.043**2)}" ixy="0.0" ixz="0.0"
                 iyy="${1/12*0.08*(0.156**2+0.043**2)}" iyz="0.0"
                 izz="${1/12*0.08*(0.140**2+0.156**2)}" />
      </inertial>
    </link>

    <joint name="${prefix_hand}_${position}_${prefix_finger}_r_pip_joint" type="revolute" >
      <parent link="${prefix_hand}_${position}_${prefix_finger}_r_mcp_link" />
      <child link="${prefix_hand}_${position}_${prefix_finger}_r_pip_link" />
      <origin xyz="-0.02125 -0.040125 -0.018575" rpy="0.0 0.0 0.0" />
      <axis xyz="1.0 0.0 0.0 " />
      <limit lower="${-M_PI/2}" upper="${M_PI/6}" effort="0.52" velocity="11.031179004" />
    </joint>

    <link name="${prefix_hand}_${position}_${prefix_finger}_r_pip_link" >
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 ${M_PI} ${-M_PI/2}" />
        <geometry>
          <mesh filename="file://$(find sobit_home_description)/meshes/hand/middle_pharanx-m.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <material name="grey" />
      </visual>
      <collision>
        <origin xyz="${0.140/2} 0.0 ${0.043/2}" rpy="0.0 0.0 0.0" />
        <geometry>
          <box size="0.140 0.156 0.043" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="${0.140/2} 0.0 ${0.043/2}" rpy="0.0 0.0 ${M_PI/2}" />
        <mass value="0.08" />
        <inertia ixx="${1/12*0.08*(0.140**2+0.043**2)}" ixy="0.0" ixz="0.0"
                 iyy="${1/12*0.08*(0.156**2+0.043**2)}" iyz="0.0"
                 izz="${1/12*0.08*(0.140**2+0.156**2)}" />
      </inertial>
    </link>

    <joint name="${prefix_hand}_${position}_${prefix_finger}_r_dip_joint" type="revolute" >
      <parent link="${prefix_hand}_${position}_${prefix_finger}_r_pip_link" />
      <child link="${prefix_hand}_${position}_${prefix_finger}_r_dip_link" />
      <origin xyz="0.0 0.0 -0.050" rpy="0.0 0.0 0.0" />
      <axis xyz="1.0 0.0 0.0 " />
      <limit lower="${-M_PI/6}" upper="${M_PI/2}" effort="0.52" velocity="11.031179004" />
    </joint>

    <link name="${prefix_hand}_${position}_${prefix_finger}_r_dip_link" >
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 ${M_PI} ${-M_PI/2}" />
        <geometry>
          <mesh filename="file://$(find sobit_home_description)/meshes/hand/distal_pharanx-m.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <material name="green" />
      </visual>
      <collision>
        <origin xyz="${0.140/2} 0.0 ${0.043/2}" rpy="0.0 0.0 0.0" />
        <geometry>
          <box size="0.140 0.156 0.043" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="${0.140/2} 0.0 ${0.043/2}" rpy="0.0 0.0 ${M_PI/2}" />
        <mass value="0.08" />
        <inertia ixx="${1/12*0.08*(0.140**2+0.043**2)}" ixy="0.0" ixz="0.0"
                 iyy="${1/12*0.08*(0.156**2+0.043**2)}" iyz="0.0"
                 izz="${1/12*0.08*(0.140**2+0.156**2)}" />
      </inertial>
    </link>
  
<!-- c_finger-->
    <joint name="${prefix_hand}_${position}_${prefix_finger}_c_mcp_joint" type="revolute" >
      <parent link="${prefix_hand}_${position}_cmc_link" />
      <child link="${prefix_hand}_${position}_${prefix_finger}_c_mcp_link" />
      <origin xyz="0.036751 0.01435 -0.062" rpy="0.0 0.0 0.0" />
      <axis xyz="0.0 1.0 0.0 " />
      <limit lower="${-M_PI/2}" upper="${M_PI/6}" effort="0.52" velocity="11.031179004" />
    </joint>

    <link name="${prefix_hand}_${position}_${prefix_finger}_c_mcp_link" >
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 ${M_PI} ${M_PI}" />
        <geometry>
          <mesh filename="file://$(find sobit_home_description)/meshes/hand/thumb_middle_pharanx.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <material name="grey" />
      </visual>
      <collision>
        <origin xyz="${0.140/2} 0.0 ${0.043/2}" rpy="0.0 0.0 0.0" />
        <geometry>
          <box size="0.140 0.156 0.043" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="${0.140/2} 0.0 ${0.043/2}" rpy="0.0 0.0 ${M_PI/2}" />
        <mass value="0.08" />
        <inertia ixx="${1/12*0.08*(0.140**2+0.043**2)}" ixy="0.0" ixz="0.0"
                 iyy="${1/12*0.08*(0.156**2+0.043**2)}" iyz="0.0"
                 izz="${1/12*0.08*(0.140**2+0.156**2)}" />
      </inertial>
    </link>

    <joint name="${prefix_hand}_${position}_${prefix_finger}_c_ip_joint" type="revolute" >
      <parent link="${prefix_hand}_${position}_${prefix_finger}_c_mcp_link" />
      <child link="${prefix_hand}_${position}_${prefix_finger}_c_ip_link" />
      <origin xyz="0.0 0.0 -0.050" rpy="0.0 0.0 0.0" />
      <axis xyz="0.0 1.0 0.0 " />
      <limit lower="${-M_PI/6}" upper="${M_PI/2}" effort="0.52" velocity="11.031179004" />
    </joint>

    <link name="${prefix_hand}_${position}_${prefix_finger}_c_ip_link" >
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 ${M_PI} ${M_PI}" />
        <geometry>
          <mesh filename="file://$(find sobit_home_description)/meshes/hand/thumb_distal_pharanx.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <material name="red" />
      </visual>
      <collision>
        <origin xyz="${0.140/2} 0.0 ${0.043/2}" rpy="0.0 0.0 0.0" />
        <geometry>
          <box size="0.140 0.156 0.043" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="${0.140/2} 0.0 ${0.043/2}" rpy="0.0 0.0 ${M_PI/2}" />
        <mass value="0.08" />
        <inertia ixx="${1/12*0.08*(0.140**2+0.043**2)}" ixy="0.0" ixz="0.0"
                 iyy="${1/12*0.08*(0.156**2+0.043**2)}" iyz="0.0"
                 izz="${1/12*0.08*(0.140**2+0.156**2)}" />
      </inertial>
    </link>

  <xacro:hand_transmission prefix_hand="${prefix_hand}" position="${position}" prefix_finger="${prefix_finger}"/>

  </xacro:macro>
</robot>
