<?xml version="1.0" encoding="UTF-8" ?>
<robot name="sobit_home"
       xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="arm_transmission" params="prefix position" >

    <xacro:SimpleTransmissionPosition joint="${prefix}_${position}_shoulder_tilt_joint"  reduction="1" />
    <xacro:SimpleTransmissionPosition joint="${prefix}_${position}_upper_roll_joint"     reduction="1" />
    <xacro:SimpleTransmissionPosition joint="${prefix}_${position}_uppder_flex_joint"    reduction="1" />
    <xacro:SimpleTransmissionPosition joint="${prefix}_${position}_lowe_top_joint"          reduction="1" />
    <xacro:SimpleTransmissionPosition joint="${prefix}_${position}_lowe_bottom_joint"          reduction="1" />
    <xacro:SimpleTransmissionPosition joint="${prefix}_${position}_wrist_tilt_joint"     reduction="1" />
    <xacro:SimpleTransmissionPosition joint="${prefix}_${position}_wrist_roll_joint"     reduction="1" />
  </xacro:macro>
</robot>
