<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="sobit_home_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="arm_left_shoulder_tilt_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['arm_left_shoulder_tilt_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="arm_left_upper_roll_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['arm_left_upper_roll_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="arm_left_upper_flex_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['arm_left_upper_flex_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="arm_left_elbow_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['arm_left_elbow_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="arm_left_wrist_tilt_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['arm_left_wrist_tilt_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="arm_left_wrist_roll_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['arm_left_wrist_roll_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="arm_right_shoulder_tilt_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['arm_right_shoulder_tilt_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="arm_right_upper_roll_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['arm_right_upper_roll_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="arm_right_upper_flex_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['arm_right_upper_flex_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="arm_right_elbow_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['arm_right_elbow_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="arm_right_wrist_tilt_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['arm_right_wrist_tilt_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="arm_right_wrist_roll_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['arm_right_wrist_roll_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="hand_left_finger_c_mcp_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['hand_left_finger_c_mcp_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="hand_left_finger_c_ip_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['hand_left_finger_c_ip_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="hand_left_finger_l_mcp_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['hand_left_finger_l_mcp_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="hand_left_finger_l_pip_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['hand_left_finger_l_pip_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="hand_left_finger_l_dip_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['hand_left_finger_l_dip_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="hand_left_finger_r_pip_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['hand_left_finger_r_pip_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="hand_left_finger_r_dip_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['hand_left_finger_r_dip_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="hand_right_finger_c_mcp_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['hand_right_finger_c_mcp_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="hand_right_finger_c_ip_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['hand_right_finger_c_ip_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="hand_right_finger_l_mcp_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['hand_right_finger_l_mcp_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="hand_right_finger_l_pip_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['hand_right_finger_l_pip_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="hand_right_finger_l_dip_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['hand_right_finger_l_dip_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="hand_right_finger_r_pip_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['hand_right_finger_r_pip_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="hand_right_finger_r_dip_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['hand_right_finger_r_dip_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="body_lift_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['body_lift_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
