<?xml version="1.0" encoding="UTF-8" ?>
<!-- SOBIT HOME (Controllers) -->
<robot name="sobit_home_controllers" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="controllers" params="enable_gz:=False robot_name:=sobit_home">

    <xacro:if value="${$(arg enable_mobile_base)}">
      <ros2_control name="dynamixel_control_lower" type="system">
        <hardware>
          <xacro:if value="${$(arg enable_gz)}">
            <plugin>gz_ros2_control/GazeboSimSystem</plugin>
          </xacro:if>
          <xacro:unless value="${$(arg enable_gz)}">
            <xacro:property name="dxl_x_lower_body_port" value="$(arg dxl_x_lower_body_port)"/>
            <plugin>dynamixel_hardware/DynamixelHardware</plugin>
            <param name="port_name">${dxl_x_lower_body_port}</param>
            <param name="baud_rate">1000000</param>
          </xacro:unless>
        </hardware>

          <xacro:dxl_wheel_steer_controllers prefix="wheel"      enable_gz="${$(arg enable_gz)}"/>

      </ros2_control>
    </xacro:if>
  
    <xacro:if value="${$(arg enable_head) + $(arg enable_arm_left) + $(arg enable_arm_right) + $(arg enable_hand_left) + $(arg enable_hand_right)}">
      <ros2_control name="dynamixel_upper" type="system">
        <hardware>
          <xacro:if value="${$(arg enable_gz)}">
            <plugin>gz_ros2_control/GazeboSimSystem</plugin>
          </xacro:if>
          <xacro:unless value="${$(arg enable_gz)}">
            <xacro:property name="dxl_x_upper_body_port" value="$(arg dxl_x_upper_body_port)"/>
            <plugin>dynamixel_hardware/DynamixelHardware</plugin>
            <param name="port_name">${dxl_x_upper_body_port}</param>
            <param name="baud_rate">1000000</param>
          </xacro:unless>
        </hardware>

        <xacro:if value="${$(arg enable_head)}">
          <xacro:dxl_head_controllers        prefix="head"       enable_gz="${$(arg enable_gz)}"/>
        </xacro:if>
        <xacro:if value="${$(arg enable_arm_left)}">
          <xacro:dxl_arm_left_controllers    prefix="arm_left"   enable_gz="${$(arg enable_gz)}"/>
        </xacro:if>
        <xacro:if value="${$(arg enable_arm_right)}">
          <xacro:dxl_arm_right_controllers   prefix="arm_right"  enable_gz="${$(arg enable_gz)}"/>
        </xacro:if>
        <xacro:if value="${$(arg enable_hand_left)}">
          <xacro:dxl_hand_left_controllers   prefix="hand_left"  enable_gz="${$(arg enable_gz)}"/>
        </xacro:if>
        <xacro:if value="${$(arg enable_hand_right)}">
          <xacro:dxl_hand_right_controllers  prefix="hand_right" enable_gz="${$(arg enable_gz)}"/>
        </xacro:if>

      </ros2_control>
    </xacro:if>
  
    <xacro:if value="${$(arg enable_arm_left) + $(arg enable_arm_right)}">
      <ros2_control name="dynamixel_pro_upper" type="system">
        <hardware>
          <xacro:if value="${$(arg enable_gz)}">
            <plugin>gz_ros2_control/GazeboSimSystem</plugin>
          </xacro:if>
          <xacro:unless value="${$(arg enable_gz)}">
            <xacro:property name="dxl_p_upper_body_port" value="$(arg dxl_p_upper_body_port)"/>
            <plugin>dynamixel_hardware/DynamixelHardware</plugin>
            <param name="port_name">${dxl_p_upper_body_port}</param>
            <param name="baud_rate">1000000</param>
          </xacro:unless>
        </hardware>

        <xacro:if value="${$(arg enable_arm_left)}">
          <xacro:dxl_pro_arm_left_controllers    prefix="arm_left"   enable_gz="${$(arg enable_gz)}"/>
        </xacro:if>
        <xacro:if value="${$(arg enable_arm_right)}">
          <xacro:dxl_pro_arm_right_controllers   prefix="arm_right"  enable_gz="${$(arg enable_gz)}"/>
        </xacro:if>

      </ros2_control>
    </xacro:if>

    <xacro:if value="${$(arg enable_mobile_base)}">
      <ros2_control name="robomaster_control" type="system">
        <hardware>
          <xacro:if value="${$(arg enable_gz)}">
            <plugin>gz_ros2_control/GazeboSimSystem</plugin>
          </xacro:if>
          <xacro:unless value="${$(arg enable_gz)}">
            <plugin>rm_motors_hw/RmMotorsSystemHardware</plugin>
            <param name="can_interface">can0</param>
            <param name="simulate">false</param>
          </xacro:unless>
        </hardware>

        <xacro:rm_wheel_drive_controllers prefix="wheel" enable_gz="${$(arg enable_gz)}"/>

      </ros2_control>
    </xacro:if>

    <xacro:if value="${$(arg enable_body)}">
      <ros2_control name="uirobot_control" type="system">

        <hardware>
          <xacro:if value="${$(arg enable_gz)}">
            <plugin>gz_ros2_control/GazeboSimSystem</plugin>
          </xacro:if>
          <xacro:unless value="${$(arg enable_gz)}">
            <xacro:property name="um_body_port" value="$(arg um_body_port)"/>
            <plugin>uirobot_hardware/UirobotHardware</plugin>
            <param name="port_name">${um_body_port}</param>
            <param name="baud_rate">57600</param>
            <param name="toggle_torque_on_configure">false</param>
            <param name="enable_torque_before_motion">false</param>
          </xacro:unless>
        </hardware>

        <xacro:uirobot_control prefix="body" enable_gz="${$(arg enable_gz)}"/>

      </ros2_control>
    </xacro:if>


    <!-- Gazebo Sim ROS2 Control -->
    <xacro:if value="${$(arg enable_gz)}">
      <gazebo>
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
          <ros>
            <namespace>$(arg robot_name)</namespace>
          </ros>
          <parameters>$(find sobit_home_control)/config/controllers.yaml</parameters>
        </plugin>
      </gazebo>
    </xacro:if>

  </xacro:macro>

  <xacro:macro name="rm_wheel_drive_controllers"  params="prefix enable_gz:=False">
    <joint name="${prefix}_drive_f_l_joint">
      <param name="motor_id">1</param>
      <param name="motor_type">m3508</param>
      <param name="invert_rotation">true</param>
      <param name="velocity_kp">0.75</param>
      <param name="velocity_ki">1.0</param>
      <param name="velocity_kd">0.001</param>
      <command_interface name="velocity">
        <param name="min">-10</param>
        <param name="max">10</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
      <state_interface name="temperature"/>
    </joint>

    <joint name="${prefix}_drive_f_r_joint">
      <param name="motor_id">2</param>
      <param name="motor_type">m3508</param>
      <param name="invert_rotation">false</param>
      <param name="velocity_kp">0.75</param>
      <param name="velocity_ki">1.0</param>
      <param name="velocity_kd">0.001</param>
      <command_interface name="velocity">
        <param name="min">-10</param>
        <param name="max">10</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
      <state_interface name="temperature"/>
    </joint>

    <joint name="${prefix}_drive_b_l_joint">
      <param name="motor_id">3</param>
      <param name="motor_type">m3508</param>
      <param name="invert_rotation">true</param>
      <param name="velocity_kp">0.75</param>
      <param name="velocity_ki">1.0</param>
      <param name="velocity_kd">0.001</param>
      <command_interface name="velocity">
        <param name="min">-10</param>
        <param name="max">10</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
      <state_interface name="temperature"/>
    </joint>

    <joint name="${prefix}_drive_b_r_joint">
      <param name="motor_id">4</param>
      <param name="motor_type">m3508</param>
      <param name="invert_rotation">false</param>
      <param name="velocity_kp">0.75</param>
      <param name="velocity_ki">1.0</param>
      <param name="velocity_kd">0.001</param>
      <command_interface name="velocity">
        <param name="min">-10</param>
        <param name="max">10</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
      <state_interface name="temperature"/>
    </joint>
  </xacro:macro>


  <xacro:macro name="dxl_wheel_steer_controllers"  params="prefix enable_gz:=False">
    <joint name="${prefix}_steer_f_l_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">11</param>
        <param name="control_mode">0</param>
        <param name="interface">rs</param>
        <param name="Return_Delay_Time">0</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-${M_PI}</param>
        <param name="max">${M_PI}</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="${prefix}_steer_f_r_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">12</param>
        <param name="control_mode">0</param>
        <param name="interface">rs</param>
        <param name="Return_Delay_Time">0</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-${M_PI}</param>
        <param name="max">${M_PI}</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="${prefix}_steer_b_l_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">13</param>
        <param name="control_mode">0</param>
        <param name="interface">rs</param>
        <param name="Return_Delay_Time">0</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-${M_PI}</param>
        <param name="max">${M_PI}</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="${prefix}_steer_b_r_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">14</param>
        <param name="control_mode">0</param>
        <param name="interface">rs</param>
        <param name="Return_Delay_Time">0</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-${M_PI}</param>
        <param name="max">${M_PI}</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
  </xacro:macro>


  <xacro:macro name="dxl_head_controllers"         params="prefix enable_gz:=False">
    <joint name="head_pan_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">21</param>
        <param name="control_mode">0</param>
        <param name="interface">rs</param>
        <param name="Return_Delay_Time">0</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-${M_PI/4}</param>
        <param name="max">${M_PI/4}</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="head_tilt_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">22</param>
        <param name="control_mode">0</param>
        <param name="interface">rs</param>
        <param name="Return_Delay_Time">0</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-${M_PI/4}</param>
        <param name="max">${M_PI/6}</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
  </xacro:macro>


  <xacro:macro name="dxl_pro_arm_left_controllers"     params="prefix enable_gz:=False">
    <joint name="${prefix}_shoulder_tilt_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">31</param>
        <param name="control_mode">0</param>
        <param name="interface">rs</param>
        <param name="Return_Delay_Time">0</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-${M_PI/2}</param>
        <param name="max">${M_PI/2}</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.55</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
  </xacro:macro>


  <xacro:macro name="dxl_pro_arm_right_controllers"    params="prefix enable_gz:=False">
    <joint name="${prefix}_shoulder_tilt_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">41</param>
        <param name="control_mode">0</param>
        <param name="interface">rs</param>
        <param name="Return_Delay_Time">0</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-${M_PI/2}</param>
        <param name="max">${M_PI/2}</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">-0.55</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
  </xacro:macro>


  <xacro:macro name="dxl_arm_left_controllers"     params="prefix enable_gz:=False">
    <joint name="${prefix}_upper_roll_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">32</param>
        <param name="control_mode">0</param>
        <param name="interface">rs</param>
        <param name="Return_Delay_Time">0</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-${M_PI/2}</param>
        <param name="max">${M_PI/2}</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">-1.5</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="${prefix}_upper_flex_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">33</param>
        <param name="control_mode">0</param>
        <param name="interface">rs</param>
        <param name="Return_Delay_Time">0</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-${M_PI/2}</param>
        <param name="max">${M_PI/2}</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="${prefix}_elbow_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">34</param>
        <param name="control_mode">0</param>
        <param name="interface">rs</param>
        <param name="Return_Delay_Time">0</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-${M_PI/2}</param>
        <param name="max">0</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">-1.33</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="${prefix}_wrist_tilt_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">35</param>
        <param name="control_mode">0</param>
        <param name="interface">rs</param>
        <param name="Return_Delay_Time">0</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-${M_PI/2}</param>
        <param name="max">${M_PI/2}</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="${prefix}_wrist_roll_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">36</param>
        <param name="control_mode">0</param>
        <param name="interface">rs</param>
        <param name="Return_Delay_Time">0</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-${M_PI/2}</param>
        <param name="max">${M_PI/2}</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
  </xacro:macro>


  <xacro:macro name="dxl_arm_right_controllers"    params="prefix enable_gz:=False">
    <joint name="${prefix}_upper_roll_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">42</param>
        <param name="control_mode">0</param>
        <param name="interface">rs</param>
        <param name="Return_Delay_Time">0</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-${M_PI/2}</param>
        <param name="max">${M_PI/2}</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">1.5</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="${prefix}_upper_flex_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">43</param>
        <param name="control_mode">0</param>
        <param name="interface">rs</param>
        <param name="Return_Delay_Time">0</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-${M_PI/2}</param>
        <param name="max">${M_PI/2}</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="${prefix}_elbow_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">44</param>
        <param name="control_mode">0</param>
        <param name="interface">rs</param>
        <param name="Return_Delay_Time">0</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">0</param>
        <param name="max">${M_PI/2}</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">1.33</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="${prefix}_wrist_tilt_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">45</param>
        <param name="control_mode">0</param>
        <param name="interface">rs</param>
        <param name="Return_Delay_Time">0</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-${M_PI/2}</param>
        <param name="max">${M_PI/2}</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="${prefix}_wrist_roll_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">46</param>
        <param name="control_mode">0</param>
        <param name="interface">rs</param>
        <param name="Return_Delay_Time">0</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-1.570796327</param>
        <param name="max">1.570796327</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
  </xacro:macro>


  <xacro:macro name="dxl_hand_left_controllers"    params="prefix enable_gz:=False">
    <joint name="${prefix}_finger_l_mcp_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">50</param>
        <param name="control_mode">6</param>
        <param name="Goal_Current">300</param>
        <param name="interface">ttl</param>
        <param name="Return_Delay_Time">0</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-${M_PI/2}</param>
        <param name="max">${M_PI/2}</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <xacro:if value="${$(arg enable_gz)}">
      <joint name="${prefix}_finger_r_mcp_joint">
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
    </xacro:if>

    <joint name="${prefix}_finger_l_pip_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">51</param>
        <param name="control_mode">6</param>
        <param name="Goal_Current">150</param>
        <param name="interface">ttl</param>
        <param name="Return_Delay_Time">0</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-${M_PI/2}</param>
        <param name="max">${M_PI/2}</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="${prefix}_finger_l_dip_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">52</param>
        <param name="control_mode">6</param>
        <param name="Goal_Current">100</param>
        <param name="interface">ttl</param>
        <param name="Return_Delay_Time">0</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-${M_PI/2}</param>
        <param name="max">${M_PI/2}</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="${prefix}_finger_c_mcp_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">53</param>
        <param name="control_mode">6</param>
        <param name="Goal_Current">225</param>
        <param name="interface">ttl</param>
        <param name="Return_Delay_Time">0</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-${M_PI/2}</param>
        <param name="max">${M_PI/2}</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="${prefix}_finger_c_ip_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">54</param>
        <param name="control_mode">6</param>
        <param name="Goal_Current">150</param>
        <param name="interface">ttl</param>
        <param name="Return_Delay_Time">0</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-${M_PI/2}</param>
        <param name="max">${M_PI/2}</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="${prefix}_finger_r_pip_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">55</param>
        <param name="control_mode">6</param>
        <param name="Goal_Current">150</param>
        <param name="interface">ttl</param>
        <param name="Return_Delay_Time">0</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-${M_PI/2}</param>
        <param name="max">${M_PI/2}</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="${prefix}_finger_r_dip_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">56</param>
        <param name="control_mode">6</param>
        <param name="Goal_Current">100</param>
        <param name="interface">ttl</param>
        <param name="Return_Delay_Time">0</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-${M_PI/2}</param>
        <param name="max">${M_PI/2}</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
  </xacro:macro>


  <xacro:macro name="dxl_hand_right_controllers"   params="prefix enable_gz:=False">
    <joint name="${prefix}_finger_l_mcp_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">60</param>
        <param name="control_mode">6</param>
        <param name="Goal_Current">300</param>
        <param name="interface">ttl</param>
        <param name="Return_Delay_Time">0</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-1.7</param>
        <param name="max">1.70</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
  
    <xacro:if value="${$(arg enable_gz)}">
      <joint name="${prefix}_finger_r_mcp_joint">
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
    </xacro:if>

    <joint name="${prefix}_finger_l_pip_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">61</param>
        <param name="control_mode">6</param>
        <param name="Goal_Current">200</param>
        <param name="interface">ttl</param>
        <param name="Return_Delay_Time">0</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-0.5</param>
        <param name="max">${M_PI/2}</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="${prefix}_finger_l_dip_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">62</param>
        <param name="control_mode">6</param>
        <param name="Goal_Current">50</param>
        <param name="interface">ttl</param>
        <param name="Return_Delay_Time">0</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-2.0</param>
        <param name="max">0.5</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="${prefix}_finger_c_mcp_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">63</param>
        <param name="control_mode">6</param>
        <param name="Goal_Current">50</param>
        <param name="interface">ttl</param>
        <param name="Return_Delay_Time">0</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-0.9</param>
        <param name="max">${M_PI/2}</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="${prefix}_finger_c_ip_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">64</param>
        <param name="control_mode">6</param>
        <param name="Goal_Current">50</param>
        <param name="interface">ttl</param>
        <param name="Return_Delay_Time">0</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-2.0</param>
        <param name="max">0.5</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="${prefix}_finger_r_pip_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">65</param>
        <param name="control_mode">6</param>
        <param name="Goal_Current">50</param>
        <param name="interface">ttl</param>
        <param name="Return_Delay_Time">0</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-${M_PI/2}</param>
        <param name="max">0.5</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="${prefix}_finger_r_dip_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">66</param>
        <param name="control_mode">6</param>
        <param name="Goal_Current">50</param>
        <param name="interface">ttl</param>
        <param name="Return_Delay_Time">0</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-0.5</param>
        <param name="max">2.0</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
  </xacro:macro>


  <xacro:macro name="uirobot_control" params="prefix enable_gz:=False">

    <joint name="${prefix}_lift_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">$(arg um_body_id)</param>
        <param name="gear_ratio">${200*M_PI}</param>
        <param name="position_kp">0.7</param>
        <param name="stop_threshold">0.005</param>
        <param name="max_velocity">0.025</param> <!-- [m/s] -->
      </xacro:unless>
      <command_interface name="position">
        <param name="min">0.0</param>
        <param name="max">0.6</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.50</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

  </xacro:macro>

</robot>
