<?xml version="1.0" encoding="UTF-8" ?>
<!-- SOBIT HOME (Controllers) -->
<robot name="sobit_home_controllers" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="controllers" params="enable_gz:=False robot_name:=sobit_home">

    <ros2_control name="dynamixel_control" type="system">
      <hardware>
        <xacro:if value="${$(arg enable_gz)}">
          <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </xacro:if>
        <xacro:unless value="${$(arg enable_gz)}">
          <plugin>dynamixel_hardware/DynamixelHardware</plugin>
          <param name="port_name">/dev/ttyUSB0</param>
          <param name="baud_rate">1000000</param>
        </xacro:unless>
      </hardware>

      <xacro:dx_head_controllers        prefix="head"       enable_gz="${$(arg enable_gz)}"/>
      <xacro:dx_arm_left_controllers    prefix="arm_left"   enable_gz="${$(arg enable_gz)}"/>
      <xacro:dx_arm_right_controllers   prefix="arm_right"  enable_gz="${$(arg enable_gz)}"/>
      <!-- <xacro:dx_hand_left_controllers   prefix="hand_left"  enable_gz="${$(arg enable_gz)}"/> -->
      <!-- <xacro:dx_hand_right_controllers  prefix="hand_right" enable_gz="${$(arg enable_gz)}"/> -->
      <xacro:dx_wheel_steer_controllers prefix="wheel"      enable_gz="${$(arg enable_gz)}"/>

    </ros2_control>

    <ros2_control name="robomaster_control" type="system">
      <hardware>
        <xacro:if value="${$(arg enable_gz)}">
          <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </xacro:if>
        <xacro:unless value="${$(arg enable_gz)}">
          <plugin>rm_motors_hw/RmMotorsSystemHardware</plugin>
          <param name="can_interface">can0</param>
          <param name="simulate">false</param>
        </xacro:unless>
      </hardware>

      <xacro:rm_wheel_drive_controllers prefix="wheel" enable_gz="${$(arg enable_gz)}"/>

    </ros2_control>

    <ros2_control name="iai_control" type="system">

      <hardware>
        <xacro:if value="${$(arg enable_gz)}">
          <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </xacro:if>
        <!-- TODO - Develop IAI controller -->
        <!-- <xacro:unless value="${$(arg enable_gz)}">
          <plugin>iai_hardware/IaiHardware</plugin>
          <param name="port_name">/dev/ttyUSB1</param>
          <param name="baud_rate">115200</param>
        </xacro:unless> -->
      </hardware>

      <xacro:iai_body_controllers prefix="body" enable_gz="${$(arg enable_gz)}"/>

    </ros2_control>


    <!-- Gazebo Sim ROS2 Control -->
    <xacro:if value="${$(arg enable_gz)}">
      <gazebo>
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
          <ros>
            <namespace>${robot_name}</namespace>
          </ros>
          <parameters>$(find sobit_home_control)/config/gz_controllers.yaml</parameters>
        </plugin>
      </gazebo>
    </xacro:if>

  </xacro:macro>

  <xacro:macro name="rm_wheel_drive_controllers"  params="prefix enable_gz:=False">

    <joint name="${prefix}_drive_f_l_joint">
      <param name="motor_id">1</param>
      <param name="motor_type">m3508</param>
      <command_interface name="effort">
        <param name="min">-10</param>
        <param name="max">10</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
      <state_interface name="temperature"/>
    </joint>
    <joint name="${prefix}_drive_f_r_joint">
      <param name="motor_id">2</param>
      <param name="motor_type">m3508</param>
      <command_interface name="effort">
        <param name="min">-10</param>
        <param name="max">10</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
      <state_interface name="temperature"/>
    </joint>
    <joint name="${prefix}_drive_b_l_joint">
      <param name="motor_id">3</param>
      <param name="motor_type">m3508</param>
      <command_interface name="effort">
        <param name="min">-10</param>
        <param name="max">10</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
      <state_interface name="temperature"/>
    </joint>
    <joint name="${prefix}_drive_b_r_joint">
      <param name="motor_id">4</param>
      <param name="motor_type">m3508</param>
      <command_interface name="effort">
        <param name="min">-10</param>
        <param name="max">10</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
      <state_interface name="temperature"/>
    </joint>

  </xacro:macro>

  <xacro:macro name="dx_wheel_steer_controllers"  params="prefix enable_gz:=False">

    <joint name="${prefix}_steer_f_l_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">11</param>
        <param name="control_mode">0</param>
        <param name="interface">rs</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-3.141592654</param>
        <param name="max">3.141592654</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="${prefix}_steer_f_r_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">12</param>
        <param name="control_mode">0</param>
        <param name="interface">rs</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-3.141592654</param>
        <param name="max">3.141592654</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="${prefix}_steer_b_l_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">13</param>
        <param name="control_mode">0</param>
        <param name="interface">rs</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-3.141592654</param>
        <param name="max">3.141592654</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="${prefix}_steer_b_r_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">14</param>
        <param name="control_mode">0</param>
        <param name="interface">rs</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-3.141592654</param>
        <param name="max">3.141592654</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

  </xacro:macro>

  <xacro:macro name="dx_head_controllers"         params="prefix enable_gz:=False">

    <joint name="head_pan_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">21</param>
        <param name="control_mode">61</param>
        <param name="interface">rs</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-1.570796327</param>
        <param name="max">1.570796327</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="head_tilt_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">21</param>
        <param name="control_mode">62</param>
        <param name="interface">rs</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-1.570796327</param>
        <param name="max">1.570796327</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

  </xacro:macro>

  <xacro:macro name="dx_arm_left_controllers"     params="prefix enable_gz:=False">
    <joint name="${prefix}_shoulder_tilt_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">31</param>
        <param name="control_mode">0</param>
        <param name="interface">rs</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-1.570796327</param>
        <param name="max">1.570796327</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="${prefix}_upper_roll_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">32</param>
        <param name="control_mode">0</param>
        <param name="interface">rs</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-1.570796327</param>
        <param name="max">1.570796327</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="${prefix}_upper_flex_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">33</param>
        <param name="control_mode">0</param>
        <param name="interface">rs</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-1.570796327</param>
        <param name="max">1.570796327</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="${prefix}_elbow_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">34</param>
        <param name="control_mode">0</param>
        <param name="interface">rs</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-1.570796327</param>
        <param name="max">1.570796327</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="${prefix}_wrist_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">35</param>
        <param name="control_mode">0</param>
        <param name="interface">rs</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-1.570796327</param>
        <param name="max">1.570796327</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
  </xacro:macro>

  <xacro:macro name="dx_arm_right_controllers"    params="prefix enable_gz:=False">
    <joint name="${prefix}_shoulder_tilt_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">41</param>
        <param name="control_mode">0</param>
        <param name="interface">rs</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-1.570796327</param>
        <param name="max">1.570796327</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="${prefix}_upper_roll_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">42</param>
        <param name="control_mode">0</param>
        <param name="interface">rs</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-1.570796327</param>
        <param name="max">1.570796327</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="${prefix}_upper_flex_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">43</param>
        <param name="control_mode">0</param>
        <param name="interface">rs</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-1.570796327</param>
        <param name="max">1.570796327</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="${prefix}_elbow_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">44</param>
        <param name="control_mode">0</param>
        <param name="interface">rs</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-1.570796327</param>
        <param name="max">1.570796327</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="${prefix}_wrist_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">45</param>
        <param name="control_mode">0</param>
        <param name="interface">rs</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-1.570796327</param>
        <param name="max">1.570796327</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
  </xacro:macro>

  <xacro:macro name="dx_hand_left_controllers"    params="prefix enable_gz:=False">

    <joint name="${prefix}_finger_l_cmc_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">50</param>
        <param name="control_mode">6</param>
        <param name="interface">ttl</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-1.570796327</param>
        <param name="max">1.570796327</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="${prefix}_finger_l_mcp_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">51</param>
        <param name="control_mode">6</param>
        <param name="interface">ttl</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-1.570796327</param>
        <param name="max">1.570796327</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="${prefix}_finger_l_dip_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">52</param>
        <param name="control_mode">6</param>
        <param name="interface">ttl</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-1.570796327</param>
        <param name="max">1.570796327</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="${prefix}_finger_c_mcp_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">53</param>
        <param name="control_mode">6</param>
        <param name="interface">ttl</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-1.570796327</param>
        <param name="max">1.570796327</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="${prefix}_finger_c_dip_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">54</param>
        <param name="control_mode">6</param>
        <param name="interface">ttl</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-1.570796327</param>
        <param name="max">1.570796327</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="${prefix}_finger_r_mcp_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">55</param>
        <param name="control_mode">6</param>
        <param name="interface">ttl</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-1.570796327</param>
        <param name="max">1.570796327</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="${prefix}_finger_r_dip_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">56</param>
        <param name="control_mode">6</param>
        <param name="interface">ttl</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-1.570796327</param>
        <param name="max">1.570796327</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

  </xacro:macro>

  <xacro:macro name="dx_hand_right_controllers"   params="prefix enable_gz:=False">

    <joint name="${prefix}_finger_l_cmc_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">60</param>
        <param name="control_mode">6</param>
        <param name="interface">ttl</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-1.570796327</param>
        <param name="max">1.570796327</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="${prefix}_finger_l_mcp_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">61</param>
        <param name="control_mode">6</param>
        <param name="interface">ttl</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-1.570796327</param>
        <param name="max">1.570796327</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="${prefix}_finger_l_dip_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">62</param>
        <param name="control_mode">6</param>
        <param name="interface">ttl</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-1.570796327</param>
        <param name="max">1.570796327</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="${prefix}_finger_c_mcp_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">63</param>
        <param name="control_mode">6</param>
        <param name="interface">ttl</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-1.570796327</param>
        <param name="max">1.570796327</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="${prefix}_finger_c_dip_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">64</param>
        <param name="control_mode">6</param>
        <param name="interface">ttl</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-1.570796327</param>
        <param name="max">1.570796327</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="${prefix}_finger_r_mcp_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">65</param>
        <param name="control_mode">6</param>
        <param name="interface">ttl</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-1.570796327</param>
        <param name="max">1.570796327</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="${prefix}_finger_r_dip_joint">
      <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">66</param>
        <param name="control_mode">6</param>
        <param name="interface">ttl</param>
      </xacro:unless>
      <command_interface name="position">
        <param name="min">-1.570796327</param>
        <param name="max">1.570796327</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

  </xacro:macro>

  <xacro:macro name="iai_body_controllers"        params="prefix enable_gz:=False">

    <joint name="${prefix}_lift_joint">
      <!-- TODO - Develop IAI controller -->
      <!-- <xacro:unless value="${$(arg enable_gz)}">
        <param name="id">1</param>
        <param name="control_mode">0</param>
        <param name="interface">rs</param>
      </xacro:unless> -->
      <command_interface name="position">
        <param name="min">-0.4</param>
        <param name="max">0.4</param>
      </command_interface>
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

  </xacro:macro>

</robot>
