<?xml version="1.0" encoding="UTF-8" ?>
<!-- SOBIT home (Dynamixel Control) -->
<robot name="sobit_home_controllers" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="wheel_controllers" params="name enable_gz:=False robot_name:=sobit_pro">

    <ros2_control name="${name}_steer_control" type="system">
      <hardware>
        <xacro:if value="${$(arg enable_gz)}">
          <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </xacro:if>
        <xacro:unless value="${$(arg enable_gz)}">
          <plugin>dynamixel_hardware/DynamixelHardware</plugin>
          <param name="port_name">/dev/ttyUSB0</param>
          <param name="baud_rate">1000000</param>
        </xacro:unless>
      </hardware>

      <joint name="${name}_steer_f_l_joint">
        <xacro:unless value="${$(arg enable_gz)}">
          <param name="id">11</param>
          <param name="control_mode">0</param>
          <param name="interface">rs</param>
        </xacro:unless>
        <command_interface name="position">
          <param name="min">-3.141592654</param>
          <param name="max">3.141592654</param>
        </command_interface>
        <!-- <command_interface name="velocity"/> -->
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="${name}_steer_f_r_joint">
        <xacro:unless value="${$(arg enable_gz)}">
          <param name="id">12</param>
          <param name="control_mode">0</param>
          <param name="interface">rs</param>
        </xacro:unless>
        <command_interface name="position">
          <param name="min">-3.141592654</param>
          <param name="max">3.141592654</param>
        </command_interface>
        <!-- <command_interface name="velocity"/> -->
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="${name}_steer_b_l_joint">
        <xacro:unless value="${$(arg enable_gz)}">
          <param name="id">13</param>
          <param name="control_mode">0</param>
          <param name="interface">rs</param>
        </xacro:unless>
        <command_interface name="position">
          <param name="min">-3.141592654</param>
          <param name="max">3.141592654</param>
        </command_interface>
        <!-- <command_interface name="velocity"/> -->
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="${name}_steer_b_r_joint">
        <xacro:unless value="${$(arg enable_gz)}">
          <param name="id">14</param>
          <param name="control_mode">0</param>
          <param name="interface">rs</param>
        </xacro:unless>
        <command_interface name="position">
          <param name="min">-3.141592654</param>
          <param name="max">3.141592654</param>
        </command_interface>
        <!-- <command_interface name="velocity"/> -->
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
    </ros2_control>

    <ros2_control name="${name}_drive_control" type="system">
      <hardware>
        <xacro:if value="${$(arg enable_gz)}">
          <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </xacro:if>
        <xacro:unless value="${$(arg enable_gz)}">
          <plugin>rm_motors_hw/RmMotorsSystemHardware</plugin>
          <param name="can_interface">can0</param>
          <param name="simulate">false</param>
        </xacro:unless>
      </hardware>

      <joint name="${name}_drive_f_l_joint">
        <param name="motor_id">1</param>
        <param name="motor_type">m3508</param>
        <command_interface name="velocity">
          <param name="min">-10</param>
          <param name="max">10</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        <state_interface name="temperature"/>
      </joint>
      <joint name="${name}_drive_f_r_joint">
        <param name="motor_id">2</param>
        <param name="motor_type">m3508</param>
        <command_interface name="velocity">
          <param name="min">-10</param>
          <param name="max">10</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        <state_interface name="temperature"/>
      </joint>
      <joint name="${name}_drive_b_l_joint">
        <param name="motor_id">3</param>
        <param name="motor_type">m3508</param>
        <command_interface name="velocity">
          <param name="min">-10</param>
          <param name="max">10</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        <state_interface name="temperature"/>
      </joint>
      <joint name="${name}_drive_b_r_joint">
        <param name="motor_id">4</param>
        <param name="motor_type">m3508</param>
        <command_interface name="velocity">
          <param name="min">-10</param>
          <param name="max">10</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        <state_interface name="temperature"/>
      </joint>
    </ros2_control>


    <!-- Gazebo Sim ROS2 Control -->
    <xacro:if value="${$(arg enable_gz)}">
      <gazebo>
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
          <ros>
            <namespace>${robot_name}</namespace>
          </ros>
          <parameters>$(find sobit_home_control)/config/gz_controllers.yaml</parameters>
        </plugin>
      </gazebo>
    </xacro:if>
  </xacro:macro>

</robot>
